@model KoiDeliveryOrderingSystem.MVCWebApp.Models.PricingPolicy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PackagingProcess</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalServicePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalServicePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomsFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomsFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PricingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
