@model KoiDeliveryOrderingSystem.MVCWebApp.Models.HealthCheck

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HealthCheck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentTrackingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentTrackingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recommendations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recommendations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackagingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextCheckupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextCheckupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentOrderDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentOrderDetail.ShipmentOrderDetailId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HealthCheckId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
