@model KoiDeliveryOrderingSystem.MVCWebApp.Models.HealthCheck

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HealthCheck</h4>
    <hr />
    <dl class="row">
       @*  <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HealthCheckId)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentTrackingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentTrackingId)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recommendations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recommendations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackagingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextCheckupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextCheckupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentOrderDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentOrderDetail.ShipmentOrderDetailId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HealthCheckId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
