@model KoiDeliveryOrderingSystem.MVCWebApp.Models.ShipmentTracking

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ShipmentTracking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperatureDuringTransit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperatureDuringTransit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HumidityDuringTransit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumidityDuringTransit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandlerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandlerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.Order.OrderId) *@
            @if (Model.Order.ShipmentOrderDetails != null && Model.Order.ShipmentOrderDetails.Any())
            {
                <ul>
                    @foreach (var order in Model.Order.ShipmentOrderDetails)
                    {
                        <li>(@order.AnimalType.Description) @order.Description</li>
                    }
                </ul>
            }
            else
            {
                <span>No orders available.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shipper)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shipper.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrackingId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
