@model IEnumerable<KoiDeliveryOrderingSystem.MVCWebApp.Models.ShipmentTracking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipmentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandlerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @foreach (var details in item.Order.ShipmentOrderDetails)
                    {
                        <p>@details.AnimalType.Description</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipmentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HandlerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedArrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TrackingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TrackingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TrackingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
